---
layout: archive
---

<!-- {{ content }} -->

<ul class="taxonomy__index">
  <!-- {% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %} -->
  {% for category in site.categories %}
    <li>
      <a href="#{{ category | first }}">
        <strong>{{ category | first }}</strong> <span class="taxonomy__count">{{ category | last | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
<!-- {% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %} -->
{% for category in site.categories %}
  <section id="{{ category | first }}" class="taxonomy__section">
    <img src="/assets/img/{{category | first}}.png" width="60px" itemprop="image"/>
    <h1 class="archive__subtitle" style="display:inline">{{ category | first }}</h1>
    <br><br>
    <div class="entries-{{ entries_layout }}">
      {% for post in category.last %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
