---
layout: archive
---

<!-- {{ content }} -->

<ul class="taxonomy__index">
  {% if site.tags %}
    {% for tag in site.tags %}
    <li>
      <a href="#{{ tag | first }}">
        <strong>{{ tag | first }}</strong> <span class="taxonomy__count">{{ tag | last | size }}</span>
      </a>
    </li>
    {% endfor %}
  {% endif %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
<!-- {% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %} -->
{% for tag in site.tags %}
  <section id="{{ tag | first }}" class="taxonomy__section">
    <h1 class="archive__subtitle" style="display:inline">{{ tag | first }}</h1>
    <br><br>
    <div class="entries-{{ entries_layout }}">
      {% for post in tag.last %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
